/*body{

/*This is the right hand side, card stack*/
#mainicon{
  height:50%;
  width:50%;
  background: url("../images/homeicon.jpeg");
  background-size:75% 75%;
  background-repeat: no-repeat;
  margin:0 auto;
  border-radius: 25px;
  text-align:center;
}

#buttonsection{

height: 50%;
  width:50%;
}



.loginbutton{

  height: 100%;
  width:100%;

}

.regbutton{
  text-align:center;
  height: 100%;
  width:100%;
}

.userbody{
  border:2px solid black;
}

.walkpointblock{
  border: 5px solid red;
}

.userrewardsblock{
  padding: 10px;
  border-style: 10px solid black;
}

.block{
  border-style: 10px solid black;
}
}
