<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <meta charset="UTF-8">

    <title>WalkLA</title>
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
  </head>

<body>

<div class ="mainicon">
  <img src="../images/homeicon.jpeg" alt="Smiley face">
 </div>


  <div class = "buttonssection">
<a href="/stats">

<div class = "regbutton">
<img src="../images/reglogo.jpg" alt="Register">
</dive>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
