<head>
  <!-- <meta name="viewport" content="width=device-width, intial-scale=1.0"> -->
  <meta charset="UTF-8">

    <title>WalkLA</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>
<body>



<div class ="userbody">


 <div class ="userprofilehead">
  <img src="../images/userheader.jpg" alt="Login">
 </div>

 <div class = "userpointguage">
  <img src="../images/userguageicon.png" alt="Login">
 </div>

 <div class ="userstats block">
 <div class ="walkpoint block">
<p> Walk points: 50</p>
 </div>
 <div class ="metropoints block">
<p> Metro points: 50</p>

 </div>
 <div class = "totalpoints block">
<p> Total points: 100</p>

 </div>


 </div>

 <div class = "userrewardsblock">

 <img src="../images/rewardsbutton.jpg" alt="Login">
</div>

 <div class = "ridesblock">
 <img src="../images/startmetrobutton.jpg" alt="Login">
 <img src="../images/startridebutton.jpg" alt="Login">
</div>




</div>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
